<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="image" default="image"/>
    <arg name="filename" default="$(dirname)/output.avi"/>
    <arg name="fps" default="10"/>
    <arg name="codec" default="MJPG"/>
<!--    <arg name="codec" default="H264"/>-->
    <arg name="encoding" default="bgr8"/>
    <arg name="height" default=""/>
    <arg name="width" default=""/>
    <arg name="resized" default="$(eval height != '' or width != '')"/>

    <node if="$(arg resized)" name="$(anon image_resize)" pkg="nodelet" type="nodelet"
          args="standalone image_proc/resize"
          output="screen">
        <rosparam subst_value="true">
            use_scale: false
            height: $(arg height)
            width: $(arg width)
        </rosparam>
        <remap from="image" to="$(arg image)"/>
        <remap from="~image" to="$(arg image)_resized"/>
    </node>

    <node name="$(anon video_recorder)" pkg="image_view" type="video_recorder"
          output="screen">
        <rosparam subst_value="true">
            filename: $(arg filename)
            fps: $(arg fps)
            codec: $(arg codec)
            encoding: $(arg encoding)
        </rosparam>
        <remap if="$(arg resized)" from="image" to="$(arg image)_resized"/>
        <remap unless="$(arg resized)" from="image" to="$(arg image)"/>
    </node>
</launch>
