<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--    <arg name="dir" default="/media/petrito1/tp-t5/data/robingas"/>-->
<!--    <arg name="dir" default="/media/petrito1/Elements/robingas"/>-->
    <arg name="dir" default="$(env HOME)/workspace/data/robingas"/>
<!--    <arg name="dir" default="/subtdata/data/robingas/data"/>-->

    <!-- 22-10-27-unhost-final-demo -->
    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-11-24-46.bag"/>
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-12-15-42.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-15-23-47.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-15-33-57.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-15-44-30.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/husky_2022-10-27-16-09-55.bag"/>-->

    <!-- 22-10-27-unhost-final-demo / robingas_src -->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-11-24-46.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-12-15-42.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-15-23-47.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-15-33-57.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-15-44-30.bag"/>-->
<!--    <arg name="bag" default="$(arg dir)/22-10-27-unhost-final-demo/robingas_src/husky_2022-10-27-16-09-55.bag"/>-->

    <arg name="bag_dir" default="$(eval '/'.join(bag.split('/')[:-1]))"/>
    <arg name="bag_name" default="$(eval bag.split()[0].split('/')[-1])"/>
<!--    <arg name="bag_name" default="$(eval bag.split()[0].split('.')[0])"/>-->
    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>

    <arg name="ouster_driver" default="true"/>
    <arg name="gpx_assignment" default="$(find gps_to_path)/data/unhost_final_demo_husky_west.gpx"/>
<!--    <arg name="gpx_assignment" default="$(find gps_to_path)/data/unhost_final_demo_spot_west_trimmed.gpx"/>-->
    <arg name="traversability" default="geometric"/>
    <arg name="device" default="cpu"/>

    <arg name="robot" default="husky-robot" if="$(eval 'husky' in bag)"/>
    <arg name="robot" default="marv-robot" if="$(eval 'marv' in bag)"/>
    <arg name="robot" default="spot-3" if="$(eval 'spot' in bag)"/>
    <arg name="robot" default="ctu-robot" if="$(eval 'tradr' in bag or 'ugv' in bag)"/>

    <arg name="delay" default="5.0"/>
    <arg name="start" default="0.0"/>
    <arg name="rate" default="1.0"/>

    <rosparam command="load" file="$(arg params)"/>
    <param name="use_sim_time" value="true"/>

    <arg name="topics" default=""/>
<!--    <arg name="topics" default="-->
<!--        &#45;&#45;topics-->
<!--        /fix-->
<!--        /gps/filtered-->
<!--        /points-->
<!--        /tf-->
<!--        /tf_static-->
<!--    "/>-->
<!--    <arg name="topics" default="-->
<!--        &#45;&#45;topics-->
<!--        /os_node/imu_packets-->
<!--        /os_node/lidar_packets-->
<!--        /os_node/sensor_info-->
<!--        /tf-->
<!--        /tf_static-->
<!--    "/>-->
<!--    &#45;&#45;wait-for-subscribers-->
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
          args="--clock
                --delay $(arg delay)
                --start $(arg start)
                --rate $(arg rate)
                $(arg topics)
                -- $(arg bag)">
    </node>

<!--    <include if="$(arg lidar_proc)" file="$(dirname)/lidar_proc.launch">-->
<!--        <arg name="rviz" value="false"/>-->
<!--    </include>-->
<!--    <include if="$(arg slam)" file="$(dirname)/slam.launch">-->
<!--        <arg name="cloud" value="points_filtered"/>-->
<!--    </include>-->
    <node if="$(arg ouster_driver)"
          name="latch_sensor_info" pkg="traversability_estimation" type="latch_sensor_info"
          output="screen">
        <param name="bag" value="$(arg bag)"/>
    </node>
    <node name="play_tf_static" pkg="traversability_estimation" type="play_tf_static"
          output="screen">
<!--        <param name="bag" value="$(arg bag)"/>-->
<!--        <param name="bag" value="$(eval '/'.join([bag_dir, 'tf', bag_name]))"/>-->
        <param name="bag" value="$(eval '/'.join([bag_dir, 'tf', bag_name]))"/>
    </node>

    <arg name="nodelet_manager" default=""/>
<!--    <arg name="nodelet_manager" default="laser_nodelet_manager"/>-->
    <arg name="nodelet_action" default="$(eval 'load' if nodelet_manager.strip() else 'standalone')"/>
    <node if="$(eval bool(nodelet_manager))"
          name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" args="manager"
          respawn="true" respawn_delay="1.0" output="screen">
        <param name="num_worker_threads" value="8"/>
    </node>

    <remap from="os_cloud_node/points" to="points"/>
    <include if="$(arg ouster_driver)" file="$(find cras_ouster_driver)/launch/os_cloud_node.launch">
        <arg name="fields_to_publish" value="intensity,t"/>
        <arg name="keep_organized" value="true"/>
        <arg name="publish_invalid" value="false"/>
        <arg name="max_range" value="50.0"/>
        <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
    </include>

    <include file="$(find traversability_estimation)/launch/cloud_filter.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <include if="$(eval traversability == 'geometric')"
             file="$(find traversability_estimation)/launch/geometric_traversability.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="input" default="points_filtered"/>
        <arg name="output" default="traversability"/>
        <arg name="bumper" default="false"/>
    </include>

    <include if="$(eval traversability == 'semantic')"
             file="$(find traversability_estimation)/launch/semantic_traversability.launch">
        <arg name="device" value="$(arg device)"/>
        <arg name="input" default="points_filtered"/>
        <arg name="output" default="traversability"/>
    </include>

    <include if="$(eval traversability == 'fused')"
             file="$(find traversability_estimation)/launch/fused_traversability.launch">
        <arg name="device" value="$(arg device)"/>
        <arg name="robot" value="$(arg robot)"/>
        <arg name="input" default="points_filtered"/>
        <arg name="output" default="traversability"/>
    </include>

    <group if="0">
    <include if="0" file="$(find gps_to_path)/launch/path_planner_igraph.launch">
        <arg name="gpx_assignment" value="$(arg gpx_assignment)"/>
        <arg name="use_osm" value="false"/>
    </include>

    <include file="$(find gps_to_path)/launch/follower.launch" pass_all_args="true"/>
    <node name="stamp_twist" pkg="traversability_estimation" type="stamp_twist">
        <remap from="twist" to="nav/cmd_vel"/>
        <remap from="twist_stamped" to="nav/cmd_vel_stamped"/>
    </node>
    </group>

    <node if="0"
          name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/traversability_final_demo_visualization.rviz"
          respawn="true" respawn_delay="1.0" output="screen"/>

    <include if="1" file="$(dirname)/cloud_traversability_scenes.launch"/>

    <node name="$(anon republish_1)" pkg="image_transport" type="republish" args="compressed raw">
        <remap from="in" to="camera_front/image_color"/>
        <remap from="out" to="camera_front/image_color"/>
    </node>

    <node name="$(anon republish_2)" pkg="image_transport" type="republish" args="compressed raw">
        <remap from="in" to="camera_rear/image_color"/>
        <remap from="out" to="camera_rear/image_color"/>
    </node>

<!--    <include file="$(dirname)/record_video.launch">-->
<!--        <arg name="image" value="camera_front/image_color"/>-->
<!--        <arg name="filename" value="$(dirname)/camera_front.avi"/>-->
<!--        <arg name="height" value="540"/>-->
<!--        <arg name="width" value="864"/>-->
<!--    </include>-->

<!--    <include file="$(dirname)/record_video.launch">-->
<!--        <arg name="image" value="camera_rear/image_color"/>-->
<!--        <arg name="filename" value="$(dirname)/camera_rear.avi"/>-->
<!--        <arg name="height" value="540"/>-->
<!--        <arg name="width" value="864"/>-->
<!--    </include>-->

    <node name="image_composer" pkg="nifti_vision_data" type="image_composer" output="screen">
        <rosparam subst_value="true">
            device: cuda
            size: [1080, 1920]
            fps: 2
            streams:  # 3 x 2 grid (W x H)
              # Row 0
              - topic: /camera_front/image_color/compressed
                offset: [0, 0]
                size: [540, 864]
              - topic: /rviz/geometric_traversability_scene
                offset: [0, 864]
                size: [540, 528]
              - topic: /rviz/semantic_traversability_scene
                offset: [0, 1392]
                size: [540, 528]
              # Row 1
              - topic: /camera_rear/image_color/compressed
                offset: [540, 0]
                size: [540, 864]
              - topic: /rviz/fused_traversability_scene
                offset: [540, 864]
                size: [540, 528]
              - topic: /rviz/graph_pcd_scene
                offset: [540, 1392]
                size: [540, 528]
        </rosparam>
    </node>

<!--
    <include file="$(dirname)/record_video.launch">
        <arg name="image" value="rviz/semantic_traversability_scene"/>
        <arg name="filename" value="$(dirname)/semantic_traversability.avi"/>
    </include>

    <include file="$(dirname)/record_video.launch">
        <arg name="image" value="rviz/fused_traversability_scene"/>
        <arg name="filename" value="$(dirname)/fused_traversability.avi"/>
    </include>

    <include file="$(dirname)/record_video.launch">
        <arg name="image" value="rviz/graph_pcd_scene"/>
        <arg name="filename" value="$(dirname)/graph_pcd.avi"/>
-->

    <include file="$(dirname)/record_video.launch">
        <arg name="image" value="composite"/>
        <arg name="filename" value="$(dirname)/composite_10x.avi"/>
        <arg name="fps" value="20"/>
        <arg name="codec" value="H264"/>
    </include>
</launch>
