_libgcc_mutex==0.1
_openmp_mutex==5.1
attrs==21.4.0
blas==1.0
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2022.4.26
catkin-pkg==0.5.2
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.1
cudatoolkit==11.3.1
cycler==0.11.0
defusedxml==0.7.1
distro==1.7.0
docutils==0.18.1
entrypoints==0.4
ffmpeg==4.3
fonttools==4.33.3
freetype==2.11.0
giflib==5.2.1
gmp==6.2.1
gnutls==3.6.15
gputil==1.4.0
idna==3.3
imgaug==0.4.0
intel-openmp==2021.4.0
jpeg==9e
jupyter-console==6.4.4
jupyter==1.0.0
kiwisolver==1.4.3
lame==3.100
lcms2==2.12
ld_impl_linux-64==2.38
libffi==3.3
libgcc-ng==11.2.0
libgomp==11.2.0
libiconv==1.16
libidn2==2.3.2
libpng==1.6.37
libstdcxx-ng==11.2.0
libtasn1==4.16.0
libtiff==4.2.0
libunistring==0.9.10
libwebp-base==1.2.2
libwebp==1.2.2
llvmlite==0.38.1
lz4-c==1.9.3
matplotlib==3.5.2
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
ncurses==6.3
nettle==3.7.3
numba==0.55.2
numpy-base==1.22.3
numpy-quaternion==2021.11.4.15.26.3
numpy-ros==0.1.3
numpy==1.22.4
open3d==0.15.2
opencv-python==4.6.0.66
openh264==2.1.1
openssl==1.1.1p
pexpect==4.8.0
pillow==8.4.0
pip==21.2.4
psutil==5.9.1
pycparser==2.21
pyopenssl==22.0.0
pyparsing==3.0.9
pyquaternion==0.9.9
pysocks==1.7.1
python==3.8.13
pytorch-mutex==1.0
pytorch==1.12.0
qtconsole==5.3.1
qtpy==2.1.0
readline==8.1.2
requests==2.28.0
rospkg==1.4.0
setuptools==61.2.0
shapely==1.8.2
six==1.16.0
sqlite==3.38.5
tk==8.6.12
torchaudio==0.12.0
torchvision==0.13.0
typing_extensions==4.1.1
urllib3==1.26.9
wheel==0.37.1
xz==5.2.5
yacs==0.1.8
zlib==1.2.12
zstd==1.5.2
