<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
    <arg name="data_sequence" default="00000" doc="Sequence name from Rellis-3D dataset,
                                                   one of ['00000', '00001', '00002', '00003', '00004']"/>

    <!-- RELLIS-3D data -->
    <node name="robot_data" pkg="traversability_estimation" type="robot_data" output="screen">
        <rosparam subst_value="true">
            data_sequence: $(arg data_sequence)
            map_step: 1
            pose_step: 10
            lidar_frame: 'ouster_lidar'
            camera_frame: 'pylon_camera'
        </rosparam>
        <remap from="robot_data/lidar_cloud" to="points"/>
    </node>

    <!-- Bag file data -->
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/husky/husky_2022-09-27-10-33-15.bag"/>-->
<!--    <param name="use_sim_time" value="true"/>-->
<!--    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>-->
<!--    <rosparam command="load" file="$(arg params)"/>-->
<!--    <remap from="/os_cloud_node/points" to="points"/>-->
<!--    <node name="rosbag_play" pkg="rosbag" type="play" args="&#45;&#45;clock &#45;&#45;delay 3.0 &#45;&#45;rate 1.0 &#45;&#45;start 100 $(arg bag)"/>-->

    <node name="cloud_segmentation" pkg="traversability_estimation" type="cloud_segmentation_rgb">
        <rosparam subst_value="true">
            device: $(arg device)
            max_age: 0.2
            lidar_channels: 64
            lidar_beams: 2048
            lidar_fov_up: 22.5
            lidar_fov_down: -22.5
            range_projection: true
            debug: true
            weights: deeplabv3_resnet101_lr_0.0001_bs_8_epoch_90_TraversabilityClouds_depth_labels_traversability_iou_0.972.pth
<!--            weights: deeplabv3_resnet101_lr_0.0001_bs_8_epoch_79_FlexibilityClouds_depth_labels_flexibility_iou_0.797.pth-->
        </rosparam>
        <remap from="cloud_in" to="points"/>
        <remap from="cloud_out" to="/cloud_segmentation/points"/>
    </node>

    <node name="cloud_voxel_filter_10cm" pkg="nodelet" type="nodelet"
          args="standalone cloud_proc/voxel_filter"
            respawn="true" respawn_delay="1.0" output="log">
        <rosparam>
            field: x
            grid: 0.1
            zero_valid: false
        </rosparam>
        <remap from="input" to="cloud_segmentation/points"/>
        <remap from="output" to="cloud_segmentation/points_10cm"/>
    </node>

    <node name="cloud_voxel_filter_20cm" pkg="nodelet" type="nodelet"
          args="standalone cloud_proc/voxel_filter"
            respawn="true" respawn_delay="1.0" output="log">
        <rosparam>
            field: x
            grid: 0.2
            zero_valid: false
        </rosparam>
        <remap from="input" to="cloud_segmentation/points_10cm"/>
        <remap from="output" to="cloud_segmentation/points_20cm"/>
    </node>

    <!-- Add color to a point cloud from a camera image -->
    <node name="cloud_fusion" pkg="traversability_estimation" type="cloud_fusion" output="screen">
        <rosparam subst_value="true">
            map_frame: odom
            max_age: 1.0
            pts_proximity_th: 0.2
            label_to_fuse: 'traversability_soft'
<!--            label_to_fuse: 'flexibility_soft'-->
<!--            max_n_pts: 50000-->
        </rosparam>
<!--        <remap from="cloud_in" to="cloud_segmentation/points_20cm"/>-->
        <remap from="cloud_in" to="cloud_segmentation/points_10cm"/>
<!--        <remap from="cloud_in" to="cloud_segmentation/points"/>-->
        <remap from="cloud_out" to="cloud_fusion/points"/>
    </node>

    <node name="global_cloud_voxel_filter_20cm" pkg="nodelet" type="nodelet"
          args="standalone cloud_proc/voxel_filter"
            respawn="true" respawn_delay="1.0" output="log">
        <rosparam>
            field: x
            grid: 0.2
            zero_valid: false
        </rosparam>
        <remap from="input" to="cloud_fusion/points"/>
        <remap from="output" to="cloud_fusion/points_20cm"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/cloud_fusion.rviz"/>
</launch>
