<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="nodelet_manager" default=""/>
    <arg name="nodelet_action" default="$(eval 'load' if nodelet_manager.strip() else 'standalone')"/>

    <arg name="input" default="points_filtered"/>
    <arg name="output" default="points_ortho_stats"/>

    <arg name="extent" default="0.0"/>
    <arg name="size" default="64"/>
    <arg name="grid" default="0.25"/>

    <arg name="mode" default="1"/>  <!-- 0: 1D, 1: 3D -->
    <arg name="output_z" default="0"/>  <!-- 0: min, 1: max, 2: mean -->
    <arg name="eigenvalues" default="true"/>
    <arg name="target_frame" default=""/>
    <arg name="min_z" default="-1.0"/>
    <arg name="max_z" default="1.5"/>

    <arg name="use_only_orientation" default="false"/>

<!--    <arg name="uuid" default="$(anon cloud_ortho_stats)"/>-->
<!--    <arg name="anon" default="$(eval str(hash(uuid))[:4])"/>-->
<!--    <node name="cloud_ortho_stats_$(arg anon)" pkg="nodelet" type="nodelet"-->
    <node name="$(anon cloud_ortho_stats)" pkg="nodelet" type="nodelet"
          args="standalone cloud_proc/ortho_stats"
          respawn="true" respawn_delay="1.0" output="log">
        <rosparam subst_value="true">
            extent: $(arg extent)
            size: $(arg size)
            grid: $(arg grid)
            mode: $(arg mode)
            output_z: $(arg output_z)
            eigenvalues: $(arg eigenvalues)
            target_frame: '$(arg target_frame)'
            use_only_orientation: $(arg use_only_orientation)
            min_z: $(arg min_z)
            max_z: $(arg max_z)
            zero_valid: false  <!-- TODO: Not strictly true. -->
            timeout: 0.2
        </rosparam>
        <remap from="input" to="$(arg input)"/>
        <remap from="output" to="$(arg output)"/>
    </node>

<!--    <node name="cloud_to_image_$(arg anon)" pkg="cloud_proc" type="cloud_to_image"-->
    <node name="$(anon cloud_to_image)" pkg="cloud_proc" type="cloud_to_image"
          respawn="true" respawn_delay="1.0" output="screen">
        <rosparam subst_value="true">
            field: z
            scale: 32.768
            offset: 32.768
        </rosparam>
        <remap from="cloud" to="$(arg output)"/>
        <remap from="image" to="$(arg output)_image"/>
    </node>
</launch>
