<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>

    <node name="cloud_segmentation_inference" pkg="traversability_estimation" type="cloud_segmentation_inference" output="screen">
        <env name="PYTHONPATH" value="/home/robot/workspace/traversability/src/traversability_estimation/thirdparty/vision:$(optenv PYTHONPATH)"/>
        <rosparam subst_value="true">
            device: $(arg device)
            max_age: 2.0
            lidar_channels: 128
            lidar_beams: 1024
            lidar_fov_up: 45.0
            lidar_fov_down: -45.0
            input_fields: ['x', 'y', 'z', 'intensity']
            output_fields: ['x', 'y', 'z', 'r', 'g', 'b', 'labels']
            label_config: $(dirname)/../config/obstacles.yaml
        </rosparam>
        <rosparam param="label_map" command="load" file="$(dirname)/../config/rellis_to_obstacles.yaml"/>

        <remap from="cloud_in" to="/os_cloud_node/points"/>
        <remap from="cloud_out" to="/cloud_segmentation/lidar_cloud"/>
    </node>

</launch>
