<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>

    <node name="cloud_segmentation_inference" pkg="traversability_estimation" type="cloud_segmentation_inference" output="screen">
        <rosparam subst_value="true">
            device: $(arg device)
            max_age: 1.0
            lidar_channels: 128
            lidar_beams: 1024
            lidar_fov_up: 45.0
            lidar_fov_down: -45.0
        </rosparam>
        <remap from="cloud_in" to="/os_cloud_node/points"/>
        <remap from="cloud_out" to="/cloud_segmentation/lidar_cloud"/>
    </node>

</launch>
