<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/tradr/ugv_2022-06-30-14-23-28.bag $(dirname)/../data/bags/traversability/tradr/ugv_2022-06-30-14-23-28_cameras.bag"/>-->
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/husky_2022-06-30-15-11-49.bag $(dirname)/../data/bags/traversability/husky_2022-06-30-15-11-49.no_sensors.bag"/>-->
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/tradr/ugv_2022-08-12-16-27-46.bag"/>-->
<!--        <arg name="bag" default="$(dirname)/../data/bags/traversability/marv/ugv_2022-08-12-15-18-34.bag"/>-->
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/marv/ugv_2022-08-12-15-30-22.bag"/>-->
    <arg name="bag" default="$(dirname)/../data/bags/traversability/spot/spot_2022-09-08-11-49-31.bag"/>
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/dev/kn_square_total_station.bag"/>-->

    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda."/>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not."/>
    <arg name="record" default="false" doc="If record topics to a bag file."/>
    <arg name="topics_to_record" default="fix mag_azimuth path tf tf_static cloud_segmentation/lidar_cloud"/>
    <arg name="lidar_pkgs_to_points" default="true" doc="Where to run convert lidar packages to point cloud."/>
<!--    <arg name="weights" default="fcn_resnet101_lr_0.0001_bs_16_epoch_40_Rellis3DClouds_z_intensity_depth_labels_traversability_iou_0.54.pth"/>-->
<!--    <arg name="weights" default='fcn_resnet50_lr_0.0001_bs_6_epoch_43_TraversabilityClouds_depth_travTrue_iou_0.22.pth'/>-->
<!--    <arg name="weights" default="fcn_resnet101_lr_0.0001_bs_4_epoch_5_TraversabilityClouds_depth_labels_traversability_iou_0.636.pth"/>-->
<!--    <arg name="weights" default="fcn_resnet101_lr_0.0001_bs_4_epoch_37_FlexibilityClouds_depth_labels_flexibility_iou_0.559.pth"/>-->
<!--    <arg name="weights" default="deeplabv3_resnet101_lr_0.0001_bs_8_epoch_66_FlexibilityClouds_depth_labels_flexibility_iou_0.537.pth"/>-->
    <arg name="weights" default="fcn_resnet101_lr_1e-05_bs_8_epoch_87_TraversabilityClouds_depth_labels_traversability_iou_0.642.pth"/>

    <param name="use_sim_time" value="true"/>

    <rosparam command="load" file="$(arg params)"/>
    <node name="rosbag_play" pkg="rosbag" type="play" args="--clock --delay 6.0 --rate 1.0 --start 300 $(arg bag)"/>

    <group if="$(arg lidar_pkgs_to_points)">
        <include file="$(find cras_ouster_driver)/launch/os_cloud_node.launch"/>
    </group>

    <node name="cloud_to_depth_destaggered" pkg="traversability_estimation" type="cloud_to_depth">
        <remap from="cloud" to="/os_cloud_node/destaggered_points"/>
        <remap from="image" to="/os_cloud_node/destaggered_points_depth"/>
    </node>

    <include file="$(dirname)/ctu_robot_cloud.launch">
        <arg name="weights" value="$(arg weights)"/>
        <arg name="device" value="$(arg device)"/>
        <arg name="debug" value="true"/>
    </include>

    <!--    Virtual bumper     -->
<!--    <include file="$(find augmented_robot_trackers)/launch/marv_sys/virtual_bumper_marv_sys.launch"/>-->

    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record"
          args="$(arg topics_to_record) -O $(arg bag)_traversability"/>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/demo_cloud.rviz"/>
</launch>
