<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot"/>
    <arg name="input" default="points_filtered_jetson"/>
    <arg name="output" default="traversability"/>
    <arg name="nodelet_manager" default="traversability_manager"/>
    <arg name="nodelet_action" default="$(eval 'load' if nodelet_manager.strip() else 'standalone')"/>
    <arg name="height" default="64"/>
    <arg name="width" default="256"/>
    <arg name="fov_elevation" default="90"/>  <!-- 90 deg -->
    <arg name="device" default="cuda"/>

    <node if="$(eval nodelet_manager == 'traversability_manager')"
          name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" args="manager"
          respawn="true" respawn_delay="1.0" output="log">
        <param name="num_worker_threads" value="16"/>
    </node>

    <!-- Geometric segmentation -->
    <include file="$(find traversability_estimation)/launch/geometric_traversability.launch">
        <arg name="input" value="$(arg input)"/>
        <arg name="output" value="geometric_traversability"/>
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <!-- Semantic segmentation -->
    <include file="$(find traversability_estimation)/launch/semantic_traversability.launch">
        <arg name="input" value="$(arg input)"/>
        <arg name="output" value="semantic_traversability"/>
        <arg name="device" value="$(arg device)"/>
    </include>

    <!-- Traversability fusion -->
    <node pkg="traversability_estimation" type="traversability_fusion" name="traversability_fusion" output="screen">
        <rosparam subst_value="true">
            geometric_trav: geometric_traversability
            semantic_trav: semantic_traversability
            max_time_diff: 0.6
            flat_cost_th: 0.5
            obstacle_cost_th: 0.9
            cloud_out: fused_traversability
        </rosparam>
    </node>

    <!-- Relay to planner input topic. -->
    <node name="relay_traversability" pkg="topic_tools" type="relay"
          args="fused_traversability $(arg output)"/>
</launch>
