<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot"/>
    <arg name="input" default="points_filtered_jetson"/>
    <arg name="output" default="traversability"/>
    <arg name="nodelet_manager" default="traversability_manager"/>
    <arg name="nodelet_action" default="$(eval 'load' if nodelet_manager.strip() else 'standalone')"/>
    <arg name="device" default="cuda"/>

    <node if="$(eval nodelet_manager == 'traversability_manager')"
          name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" args="manager"
          respawn="true" respawn_delay="1.0" output="log">
        <param name="num_worker_threads" value="16"/>
    </node>

    <!-- Geometric segmentation -->
    <include file="$(find traversability_estimation)/launch/geometric_traversability.launch">
        <arg name="input" value="$(arg input)"/>
        <arg name="output" value="geometric_traversability_output"/>
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <!-- Semantic segmentation -->
    <include file="$(find traversability_estimation)/launch/semantic_traversability.launch">
        <arg name="input" value="$(arg input)"/>
        <arg name="output" value="semantic_traversability_output"/>
        <arg name="device" value="$(arg device)"/>
        <arg name="height" value="64"/>
        <arg name="width" value="256"/>
    </include>

    <!-- Traversability fusion -->
    <node pkg="traversability_estimation" type="traversability_fusion" name="traversability_fusion" output="screen">
        <rosparam subst_value="true">
            fixed_frame: gps_odom
            trigger: geometric  <!-- both, geometric, semantic, timer -->
            sync: false
            max_time_diff: 1.0
            dist_th: 0.25
            flat_cost_th: 0.5
            obstacle_cost_th: 0.9
            semantic_cost_offset: 0.5
            timeout: 0.5
            rate: 0.0
        </rosparam>
        <remap from="geometric_traversability" to="geometric_traversability_output"/>
        <remap from="semantic_traversability" to="semantic_traversability_output"/>
        <remap from="fused_traversability" to="fused_traversability"/>
    </node>

    <!-- Relay to planner input topic. -->
    <node if="$(eval output != 'fused_traversability')"
          name="relay_traversability" pkg="topic_tools" type="relay"
          args="fused_traversability $(arg output)"/>
</launch>
