<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="input_img_topic" default="robot_data/rgb/compressed"/>
    <arg name="compressed" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="num_cams" default="1"/>
    <arg name="legend" default="false" doc="Whether to plot segmentation classses legend"/>
    <arg name="max_age" default="1.0" doc="Maximum allowed delay of timestamp of input rgb image messages"/>

    <node name="hrnet_inference" pkg="traversability_estimation" type="hrnet_inference" output="screen">
        <rosparam subst_value="true">
            device: $(arg device)
            num_cameras: $(arg num_cams)
            compressed: $(arg compressed)
            legend: $(arg legend)
            max_age: $(arg max_age)
        </rosparam>
    </node>
</launch>
