<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="weights" default="fcn_resnet101_lr_0.0001_bs_4_epoch_5_TraversabilityClouds_depth_labels_traversability_iou_0.636.pth"
         doc="Point cloud segmentation network weights file (located in '../config/weights/depth_cloud/' folder)"/>

    <!-- <node name="points_destagger" pkg="nodelet" type="nodelet"
          args="standalone cras_ouster_driver/destagger_nodelet">
        <remap from="info" to="/os_node/sensor_info"/>
        <remap from="input" to="/os_cloud_node/points"/>
        <remap from="output" to="/os_cloud_node/destaggered_points"/>
</node> -->

    <node name="cloud_segmentation_inference" pkg="traversability_estimation" type="cloud_segmentation_inference" output="screen">
        <env name="PYTHONPATH" value="/home/robot/workspace/traversability/src/traversability_estimation/thirdparty/vision:$(optenv PYTHONPATH)"/>
        <rosparam subst_value="true">
            device: $(arg device)
            max_age: 0.3
            lidar_channels: 128
            lidar_beams: 1024
            lidar_fov_up: 45.0
            lidar_fov_down: -45.0
            input_fields: ['x', 'y', 'z', 'intensity']
            output_fields: ['x', 'y', 'z', 'r', 'g', 'b', 'obstacle', 'obstacle_soft']
            label_config: $(dirname)/../config/obstacles.yaml
            labels_to_correct: []
<!--            weights: 'fcn_resnet101_lr_0.0001_bs_16_epoch_22_Rellis3DClouds_depth_iou_0.67.pth'-->
<!--            weights: 'deeplabv3_resnet101_lr_0.0001_bs_16_epoch_64_Rellis3DClouds_z_depth_iou_0.68.pth'-->
<!--            weights: fcn_resnet101_lr_0.0001_bs_16_epoch_96_Rellis3DClouds_depth_travFalse_iou_0.34.pth-->
<!--            weights: deeplabv3_resnet101_lr_0.0001_bs_16_epoch_52_Rellis3DClouds_depth_travFalse_iou_0.34.pth-->
<!--            weights: fcn_resnet101_lr_0.0001_bs_16_epoch_40_Rellis3DClouds_z_intensity_depth_travTrue_ftTrue_iou_0.54.pth-->
<!--            weights: fcn_resnet101_lr_0.0001_bs_8_epoch_90_Rellis3DClouds_depth_travTrue_ftTrue_iou_0.45.pth-->
            weights: $(arg weights)
        </rosparam>
        <rosparam param="label_map" command="load" file="$(dirname)/../config/rellis_to_traversability.yaml"/>

        <remap from="cloud_in" to="/ouster/points"/>
        <remap from="cloud_out" to="/cloud_segmentation/lidar_cloud"/>
    </node>

</launch>
