<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="trigger" default="/points_filtered"/>
    <arg name="parent_frame" default="odom"/>
    <arg name="child_frame" default="base_footprint"/>
    <arg name="oriented_frame" default="$(arg child_frame)_horizontal"/>

    <node name="orient_frame" pkg="nav_utils" type="orient_frame"
          respawn="true" respawn_delay="1.0" output="screen">
        <rosparam subst_value="true">
            parent_frame: $(arg parent_frame)
            child_frame: $(arg child_frame)
            oriented_frame: $(arg oriented_frame)
            align: z
            timeout: 0.1
            timeout_relative: false
            trigger_queue_size: 2
            tf_queue_size: 5
        </rosparam>
        <remap from="trigger" to="$(arg trigger)"/>
        <remap from="/tf" to="/tf"/>
    </node>
</launch>
