<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="false" doc="Launch RViz for data visualization or not"/>
    <arg name="data_sequence" default="00000" doc="Sequence name from Rellis-3D dataset"/>

    <node name="robot_data" pkg="traversability_estimation" type="robot_data" output="screen">
        <rosparam subst_value="true">
            data_sequence: $(arg data_sequence)
            map_step: 10
            pose_step: 5
            lidar_frame: 'ouster_lidar'
            camera_frame: 'pylon_camera'
        </rosparam>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/robot_data.rviz"/>
</launch>
