<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="input" default="points" doc="Input point cloud for segmentation"/>
    <arg name="max_age" default="0.5"/>
    <arg name="weights" default="student_kitti_traversablity_f0_0_time_ema.pt"/>
    <arg name="rviz" default="false"/>

    <param name="use_sim_time" value="true"/>

    <group if="0">
        <include file="$(find depth_correction)/launch/robot_data.launch">
            <arg name="dataset" value="semantic_kitti/00"/>
            <arg name="cloud" value="points"/>
            <arg name="rviz" value="false"/>
        </include>
    </group>

    <group if="1">
        <arg name="bag" default="$(dirname)/../data/bags/traversability/husky/husky_2022-09-23-12-38-31.bag"/>
        <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
        <rosparam command="load" file="$(arg params)"/>
        <node name="rosbag_play" pkg="rosbag" type="play"
              args="--clock --delay 3.0 --rate 1.0 --start 0 $(arg bag)"/>
    </group>

    <!-- Point cloud segmentation -->
    <node name="cloud_segmentation" pkg="traversability_estimation" type="cloud_segmentation_tconcord3d" output="screen">
        <rosparam subst_value="true">
            device: $(arg device)
            max_age: $(arg max_age)
            weights: $(arg weights)
            cloud_in: $(arg input)
            cloud_out: cloud_segmentation_tconcord3d/points
        </rosparam>>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/semantic_trav.rviz"/>

</launch>
