<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- 22-08-12_cimicky_haj -->
<!--    <arg name="bag" default="/media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-15-18-34/trav_src.bag-->
<!--                             /media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-15-18-34/trav.bag"/>-->
<!--    <arg name="bag" default="/media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-15-30-22/trav_src.bag-->
<!--                             /media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-15-30-22/trav.bag"/>-->
<!--    <arg name="bag" default="/media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-16-08-17/trav_src.bag-->
<!--                             /media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-16-08-17/trav.bag"/>-->
<!--    <arg name="bag" default="/media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-16-37-03/trav_src.bag-->
<!--                             /media/petrito1/tp-t5/data/robingas/22-08-12_cimicky_haj/marv/ugv_2022-08-12-16-37-03/trav.bag"/>-->

    <!-- 22-09-27-unhost -->
    <arg name="bag" default="/media/petrito1/tp-t5/data/robingas/22-09-27-unhost/husky/husky_2022-09-27-15-01-44/trav_src.bag
                             /media/petrito1/tp-t5/data/robingas/22-09-27-unhost/husky/husky_2022-09-27-15-01-44/trav.bag"/>

    <arg name="params" default="$(eval '/'.join(bag.split()[0].split('/')[:-1]) + '.bag.params')"/>
    <arg name="robot" default="$(eval list(filter(lambda x, bag=bag: x if x in bag else False, ('husky', 'marv', 'spot', 'tradr')))[0])"/>
    <arg name="start" default="0.0"/>
    <arg name="rate" default="1.0"/>
    <arg name="rviz" default="true"/>

    <rosparam command="load" file="$(arg params)"/>
    <param name="use_sim_time" value="true"/>

    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
          args="--clock --delay 5.0 --start $(arg start) --rate $(arg rate) $(arg bag)"/>

    <node if="$(arg rviz)"
          name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/$(arg robot).rviz"/>
</launch>
