<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="robot" default="tradr"/>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="image_view" default="true"/>
    <arg name="image_topic" default="/camera_0/image_color"/>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>

    <!--Bag file player -->
    <include file="$(dirname)/play_bag.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="output_image_topic" value="$(arg image_topic)"/>
    </include>

    <!-- Semantic segmantation of images -->
    <node name="hrnet_inference" pkg="traversability_estimation" type="hrnet_inference" output="screen">
        <rosparam subst_value="true">
            device: $(arg device)
            num_cameras: 1
            compressed: true
            legend: false
            max_age: 1.0
        </rosparam>
        <remap from="input_0" to="$(arg image_topic)"/>
        <remap from="output_0" to="/hrnet_inference/semantic_segmentation"/>
    </node>

    <!-- Visualization -->
    <group if="$(arg image_view)">
        <node name="image_view_semseg" pkg="image_view" type="image_view">
            <remap from="image" to="/hrnet_inference/semantic_segmentation"/>
        </node>
    </group>
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/$(arg robot).rviz"/>
</launch>
