<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
    <arg name="traversability" default="semantic" doc="Traversability estimation type: 'semantic or geometric'"/>
    <arg name="gpx_assignment" default="$(find gps_to_path)/data/unhost_final_demo_husky_east.gpx"/>
    <arg name="bag" default="$(dirname)/../data/bags/traversability/husky/husky_2022-09-27-10-33-15.bag"/>
<!--    <arg name="bag" default="$(dirname)/../data/bags/traversability/husky/husky_2022-09-27-10-39-57.bag"/>-->
    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
    <arg name="use_osm" default="false"/>

    <!-- Bag file data -->
    <param name="use_sim_time" value="true"/>
    <rosparam command="load" file="$(arg params)"/>
    <node name="rosbag_play" pkg="rosbag" type="play"
          args="--clock --delay 3.0 --rate 1.0 --start 0 $(arg bag) --pause
                /trav_obstacles_pcd_map:=/trav_obstacles_pcd_map_recorded
                /path:=/path_recorded
                /bumper_activations:=/bumper_activations_recorded
                /bumper_bbx:=/bumper_bbx_recorded
                /bumper_vis:=/bumper_vis_recorded
                /graph_pcd:=/graph_pcd_recorded
                /os_cloud_node/points:=/points"/>

    <!-- Fused Localization -->
    <include file="$(find cras_gps_odom)/launch/gps_odom.launch">
        <arg name="fix_topic" value="/fix"/>
        <arg name="odom_topic" value="/imu_and_wheel_odom"/>
    </include>

    <!-- Traversability Estimation -->
    <include file="$(dirname)/$(arg traversability)_traversability.launch">
        <arg name="cloud" value="points"/>
    </include>

    <!-- Path Planner -->
    <include file="$(find gps_to_path)/launch/path_planner_igraph.launch">
        <arg name="gpx_assignment" value="$(arg gpx_assignment)"/>
        <arg name="use_osm" value="$(arg use_osm)"/>
        <arg if="$(eval traversability == 'fused')" name="trav_topic" value="/traversability_fusion/points"/>
        <arg if="$(eval traversability == 'geometric')" name="trav_topic" value="/geometric_traversability_raw"/>
        <arg if="$(eval traversability == 'semantic')" name="trav_topic" value="/cloud_segmentation/points"/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find traversability_estimation)/config/rviz/cloud_segm_planner.rviz"/>
</launch>
